<html>
    <body>
        <h1>Predict Default Score</h1>
        <form action="/" method="post">
            <p>Please enter the income : </p>
            <p><input type="number" step="0.01" name="income"></p>
            <p>Please enter the age : </p>
            <p><input type="number" step="0.01" name="age"></p>
            <p>Please enter the loan : </p>
            <p><input type="number" step="0.01" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        {{result}}
    </body>
</html>